<<<<<<< HEAD
body {
	height: 100%;
	width: 100%;
	margin: 0;
}
.base_text {
	text-align: center;
	line-height: 60px;
}
=======
body
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
>>>>>>> 4b60f3775a91540b6bd4bff8f6b37e407c9bdeba
